body {
  box-sizing: border-box;
}
.form-field {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 8px;
}
label {
  font: bold;
}
.main-Container {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 500px;
  padding: 30px;
  color: white;
  border: 1px solid white;
  border-radius: 8px;
  margin-top: 10px;
}
.input-field {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid white;
}
.form-button {
  border: 1px solid white;
  width: 100%;
  margin-top: 20px;
  padding: 10px 0px;
  background: black;
  border-radius: 8px;
}
.form-heading {
  font-weight: 700;
  font-size: 20px;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}
.nav-title {
  width: 50%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home_page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home_btn{
  padding: 10px 20px;
  background-color: black;
  border: 1px solid white;
  border-radius: 8px;
}
