.form-field {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 5px;
}
label {
  font: bold;
}
.main-Container {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 500px;
  padding: 30px;
  color: white;
  border: 1px solid red;
  border-radius: 8px;
}
.input-field {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid white;
}
.form-button {
  border: 1px solid red;
  width: 100%;
  margin-top: 20px;
}
.form-heading{
  font-weight: 700;
  font-size: 20px;
}
